$primary-color: blue
$header-footer-height: 50px

#header 
  background-color: $primary-color
  top: 0
  height: $header-footer-height
  width: auto

#main 
  flex: 1
  display: flex
  flex-flow: row

#sidebar1 
  flex-basis: 20%
  order: 1
  background-color: yellow


#sidebar2 
  flex-basis: 20%
  order: 3
  background-color: yellow


#content 
  background-color: green
  flex-basis: 60%
  order: 2
  display: flex
  flex-flow: column

#footer 
  background-color: $primary-color
  position: relative
  bottom: 0
  width: auto
  height: $header-footer-height
  clear: left
  width: 100%

